body{

margin:0;
font-family:Arial;
background:linear-gradient(120deg,#4facfe,#00f2fe);
color:white;

}

header{

text-align:center;
padding:40px;

}

.temaBtn{

padding:10px 20px;
border:none;
border-radius:20px;
cursor:pointer;

}

section{

max-width:900px;
margin:auto;
padding:40px;

}


/* ORTAK KART TASARIMI */

.kartAlan{

background:white;
color:black;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}



/* YETENEK BARLARI */

.yetenek{

margin-bottom:20px;

}

.bar{

background:#ddd;
height:20px;
border-radius:20px;

}

.dolgu{

height:20px;
border-radius:20px;

}

.html{

width:90%;
background:#ff6b6b;

}

.css{

width:80%;
background:#4ecdc4;

}

.js{

width:70%;
background:#ffe66d;

}



/* PROJELER */

.filtreButonlari{

margin-bottom:20px;

}

.filtreButonlari button{

padding:10px;
margin-right:10px;
border:none;
border-radius:10px;
cursor:pointer;

}

.projeGrid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;

}

.kart{

background:white;
color:black;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}



/* DARK MODE */

.dark{

background:#111;
color:white;


}